---
import Layout from '../../layouts/base.astro'
import { getCollection } from 'astro:content'

const posts = (await getCollection('blog'))
    .slice()
    .sort(
        (a, b) =>
            new Date(b.data.date).getTime() - new Date(a.data.date).getTime()
    )
---

<Layout>
    {
        posts.map((post) => (
            <div class='mt-5 border-b border-slate-300 pb-5'>
                <h2 class='text-xl font-bold'>{post.data.title}</h2>
                <p class='mt-2 text-slate-700'>{post.data.description}</p>
                <div class='mt-4 text-sm text-slate-500'>
                    <p class='inline-block'>
                        {post.data.date.toLocaleDateString('en-US')}
                    </p>
                    |
                    <p class='inline-block'>
                        {
                            {
                                en: 'English',
                                ja: 'Japanese'
                            }[post.data.lang]
                        }
                    </p>
                </div>
                <a
                    class='mt-4 block text-blue-500 hover:underline'
                    href={`/blog/${post.slug}`}
                >
                    Read more
                </a>
            </div>
        ))
    }
</Layout>
