---
import Layout from '../layouts/base.astro'
---

<Layout>
    <h1 class='text-3xl font-bold'>404 Not Found</h1>
    <p class='mt-5 text-slate-700'>
        The requested page does not exist. Please return to <a
            href='/'
            class='text-blue-500'>Home</a
        >.
    </p>
</Layout>
